node_modules
package-lock.json
coverage
.idea
out
.yarn
.rdf-test-suite-cache
.eslintcache
documentation
tsconfig.tsbuildinfo
*.log
/.*
!.gitignore
!.husky
!.github
dist
*.ttl
*.nt
!test/statics/*.ttl
.devcontainer/devcontainer.json
*.pdf
